.wrapper{
    display: flex ;
    justify-content: space-between;
    box-shadow: 0 0 4px 0;
    height: 100px;
    align-items: center;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.menu{
    display: flex;

}

.items{
    margin: 0 15px;
    font-weight: 500;
}

.img{
    width: 70px;
    height: 70px;
    display: block;
    
}

.img>img{
    width: 100%;
    height: 100%;

}

.logo>img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 200px;
    height: 150px;
    
   
}